<table class="collapseborder" width="100%" height="50px" id="header">
	<tr>
		<td width="15%" valign="bottom"><b>{{param.name}}</b></td>
		<td width="10%" rowspan="2" align="center"><font size="8"><b>{{param.group}}</b></font></td>
		<td width="10%" valign="bottom">Név:</td>
		<td valign="bottom">____________________</td>
		<td width="10%"  rowspan="2" align="center"><font size="8">&Sigma;</font></td>
		<td width="48px" rowspan="2" class="border" align="right" valign="top"><font size="2">/{{param.sum}}</font></td>		
	</tr>
	<tr>
		<td valign="top"><b>{{param.date|date:"Y. m. d."}}</b></td>
		<td valign="top">Neptun:</td>
		<td>
		<div class="codecell"></div>
		<div class="codecell"></div>
		<div class="codecell"></div>
		<div class="codecell"></div>
		<div class="codecell"></div>
		<div class="codecell"></div>
		</td>			
	</tr>
</table>