<html>

<head>
	<title>print test</title>
	<link rel="stylesheet" type="text/css" href="/static/printview.css">
</head>
<!--width: 1430px; height: 996px;-->
<!--width: 1478px; height: 1044px;-->
<body>
	<div id="pages">
	{% for page in pages %}
		<div class="page">		
		{% for halfpage in page %}
			{% if halfpage.left %}
			<div class="halfpage rightborder">				
			{% else %}
			<div class="halfpage">									
			{% endif %} 
			{% if halfpage.header %}
				{% include "header.html" with param=halfpage.header %}
			{% endif %}
			{% for question in halfpage.questions %}		

				<div class="question" style="padding: 0px 0px {{question.freespace}}px 0px;">
					<div class="questionnumber">{{question.index}}.</div>
					<div class="resultsquare">/{{question.score}}</div>					
					{{question.body | safe}}
				</div>			
			{% endfor %}
			</div>
		{% endfor %}	
		</div>
	{% endfor %}	
	</div>
</body>
</html>